<%- include('partials/header'); -%>

  <h1>Compose</h1>

  <form class="item" action="/compose" method="post">
    <!-- use div and add class = 'mb-3' -->
    <div class="mb-3">
      <label>Title</label>
      <input type="text" name="newTitle"class="form-control" >
      <label>Post</label>
      <textarea name="newContent" class="form-control" cols="40" rows="5"></textarea>

    </div>

    <!-- button from docs of bootstrap forms -->
    <button type="submit" class="btn btn-primary">Publish</button>
    <!-- <button type="submit" name="submit">Publish</button> -->

</form>

<%- include('partials/footer'); -%>
